<p style="color: green"><%= notice %></p>

<%= render @categories_expense %>

<div>
  <%= link_to "Edit this categories expense", edit_categories_expense_path(@categories_expense) %> |
  <%= link_to "Back to categories expenses", categories_expenses_path %>

  <%= button_to "Destroy this categories expense", @categories_expense, method: :delete %>
</div>
