<p style="color: green"><%= notice %></p>

<% if @categories.empty? %>
  <p style="color: red">No categories yet</p>
<% end %>

<div id="categories">
  <% @categories.each do |category| %>
    <div>
      <%= link_to category_path(category.id) %>
    <%# Create image tag for category icon %>
    <%= image_tag category.icon %> %>
    <p><%= category.name %></p>
    <p><%= category.created_at.strftime('%a-%b-%Y')%></p>
    </div>

  <% end %>
</div>

<%= link_to "New category", new_category_path %>
