<p style="color: green"><%= notice %></p>

<div>
  <h2>Details</h2>
  <div>
    <p>Transaction Cost</p>
    <p>$<%= @expense.amount %></p>
  </div>
  <h2><%= @expense.name%></h2>
  <p>Date: <%= @expense.created_at.strftime('%d-%m-%Y')%></p>
  <p>Time: <%= @expense.created_at.strftime('%H-%M-%S')%></p>
</div>



<div>
  <%= link_to "Add transaction", new_expense_path %> |
  <%= link_to "Back", category_path%>
</div>
